<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/ImageScan.css">
  <head>
    <meta charset="UTF-8">
    <title>ImageScan</title>
    <script src="../../src/Global/WorkbenchMenu.js"></script>
    <script src="../../lib/potrace.js"></script>
    <script src="../../lib/JetCad.js"></script>
    <script src="../../src/ImageScan/app.js"></script>


  </head>
  <body>
    <div id="Content"></div>
  </body>

  <script>
  $("#X_WCS_Label").css({ 'font-size': 40 }).css({ 'position': 'fixed' }).css({right: 290, top: 10});
  $("#Y_WCS_Label").css({ 'font-size': 40 }).css({ 'position': 'fixed' }).css({right: 290, top: 70});
  $("#X_WCS_POS").css({ 'font-size': 40 }).css({ 'position': 'fixed' }).css({right: 50, top: 10});
  $("#Y_WCS_POS").css({ 'font-size': 40 }).css({ 'position': 'fixed' }).css({right: 50, top: 70});
  $("#Y_MCS_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 260, top: 20});
  $("#X_MCS_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 260, top: 80});
  $("#Y_MCS_POS").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 255, top: 30});
  $("#X_MCS_POS").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 255, top: 90});
  $("#FEED_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 290, top: 140});
  $("#FEED_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 270, top: 140});
  $("#VEL_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 220, top: 140});
  $("#VEL_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 200, top: 140});
  $("#STATUS_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 140, top: 140});
  $("#STATUS_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 110, top: 140});
  $("#SET_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 140, top: 130});
  $("#SET_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 110, top: 130});
  $("#THC_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 220, top: 130});
  $("#THC_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 200, top: 130});
  $("#UNITS_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 60, top: 140});
  $("#UNITS_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 40, top: 140});
  $("#ARC_Label").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 60, top: 130});
  $("#ARC_Value").css({ 'font-size': 8 }).css({ 'position': 'fixed' }).css({right: 40, top: 130});
  $("#DRO_Border").css({ 'border': '2px solid black' }).css({ 'width': 300 }).css({ 'height': 130 }).css({ 'position': 'fixed' }).css({right: 10, top: 10}).css({ 'padding': '5px 5px 5px 5px' });
  $("#FEEDRATE_Percentage").css({ 'position': 'fixed' }).css({right: 15, top: 180});
  $("#FEEDRATE_Slider").css({ 'position': 'fixed' }).css({ 'width': 300 }).css({right: 15, top: 200});
  $("#X_Set").css({ 'position': 'fixed' }).css({ 'width': 50 }).css({right: 270, top: 240});
  $("#Y_Set").css({ 'position': 'fixed' }).css({ 'width': 50 }).css({right: 210, top: 240});
  $("#Z_Probe").css({ 'position': 'fixed' }).css({ 'width': 70 }).css({right: 130, top: 240});
  $("#GoHome").css({ 'position': 'fixed' }).css({ 'width': 70 }).css({right: 50, top: 240});
  $("#Start").css({ 'position': 'fixed' }).css({ 'width': 50 }).css({right: 270, top: 300});
  $("#Hold").css({ 'position': 'fixed' }).css({ 'width': 50 }).css({right: 210, top: 300});
  $("#Abort").css({ 'position': 'fixed' }).css({ 'width': 70 }).css({right: 130, top: 300});
  $("#Open").css({ 'position': 'fixed' }).css({ 'width': 70 }).css({right: 50, top: 300});
  $("#Content").css({ 'border': '2px solid black' });
  </script>
</html>
