<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/JetCam.css">
  <link rel="stylesheet" href="../global/tree_view/style.min.css">
  <meta charset="UTF-8">
  <title>CAM</title>
  <script src="../../lib/three.js"></script>
  <script src="../../lib/OrbitControls.js"></script>
  <script src="../../lib/ProfileRender.js"></script>
  <script src="../../lib/ProfileGeometry.js"></script>
  <script src="../../src/Global/WorkbenchMenu.js"></script>
  <script src="../../src/JetCam/app.js"></script>
  <script src="../../lib/jstree.js"></script>

  <PartTree id="jstree">
    <!-- in this example the tree is populated from inline HTML -->
    <ul>
      <li>Test Part
        <ul>
          <li id="child_node_1">Test Part (1)</li>
          <li>Child node 2</li>
        </ul>
      </li>
      <li>Another Part</li>
    </ul>
  </PartTree>
</html>
