<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/jetcad.css">
  <head>
    <meta charset="UTF-8">
    <title>JetCad</title>
    <script src="../../src/Global/WorkbenchMenu.js"></script>
    <script src="../../lib/notification.js"></script>
    <script src="../../lib/JetCad.js"></script>
    <script src="../../lib/JetCad-Tools.js"></script>
    <script src="../../src/JetCad/app.js"></script>


  </head>
  <body>
    <div id="Hidden" style="position: absolute; display: block; visibility: hidden;"></div>
		<div id="input_boxes"></div>
    <section id="Content" class="content container-fluid"></section>
  </body>
</html>
