/*!
 *   AdminLTE v2.4.0
 *   Author: Almsaeed Studio
 *	 Website: Almsaeed Studio <https://adminlte.io>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
 */
/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body {
  height: 100%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background-color: #1B282E;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: red;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: hidden;
}
#DRO{
  position: absolute;
  width: 325px;
  height: 100%;
  background-color: #1B282E;
}
.button_container > .button {
  float: left;
  width: 16%;
}
.button_container{
  
}
.button{
  padding-top: 20px;
  padding-right: 49px;
  padding-bottom: 20px;
  padding-left: 49px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  color: #BD7509;
  font-size: 20px;
  background-color: #26363E;
  cursor:pointer;
}
.button:hover{
  color: #51C426;
  background-color: #26363E;
  cursor:pointer;
}
.divider{
  padding-top: 10px;
  padding-right: 30px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #FF5951;
  background-color: #26363E;
}
.big_label{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #FF5951;
}
.medium_label{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #FF5951;
}
.small_label{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #BD7509;
  margin-left: 10px;
}
.pos_value{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #51C426;
  margin-left: 20px;
}
.status_value{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #51C426;
  margin-left: 20px;
}
.abs_value{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #7D7D7D;
  margin-left: 10px;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
#terminal{
  z-index: 100;
}
