<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/ncPilot.css">
  <link rel="stylesheet" href="../../node_modules/xterm/dist/xterm.css" />
  <link rel="stylesheet" href="../../node_modules/xterm/dist/addons/fullscreen/fullscreen.css" />
  <head>
    <meta charset="UTF-8">
    <title>ncPilot</title>
    <script src="../../lib/three.js"></script>
    <script src="../../lib/OrbitControls.js"></script>
    <script src="../../lib/ProfileRender.js"></script>
    <script src="../../lib/ProfileGeometry.js"></script>
    <script src="../../src/Global/WorkbenchMenu.js"></script>
    <script src="../../src/ncPilot/app.js"></script>
    <script src="../../src/ncPilot/mdi_commands.js"></script>
    <script src="../../src/ncPilot/machine_parameters.js"></script>
    <script src="../../lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../node_modules/xterm/dist/xterm.js"></script>
    <script src="../../node_modules/xterm/dist/addons/fullscreen/fullscreen.js"></script>
    <script src="../../node_modules/xterm/dist/addons/fit/fit.js"></script>
    <script src="../../node_modules/xterm/dist/addons/webLinks/webLinks.js"></script>
  </head>
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }
    #editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
  </style>
  <div id="terminal"></div>
  <pre id="editor"></pre>
  <body>
  
  </body>


  <div id="DRO">
    <div class="big_label">X<span class="pos_value" id="X_POS">0.0000</span><span class="small_label">ABS</span><span class="abs_value" id="X_POS_ABS">0.0000</span></div>
    <div class="big_label">Y<span class="pos_value" id="Y_POS">0.0000</span><span class="small_label">ABS</span><span class="abs_value" id="Y_POS_ABS">0.0000</span></div>
    <div class="medium_label">STATUS<span class="status_value" id="STATUS">Halt</span><span class="small_label">FEED</span><span class="abs_value" id="FEED_RATE">0.0</span></div>
    <div class="medium_label">ARC<span class="status_value" id="ARC_VOLTAGE">0.0</span><span class="small_label">SET</span><span class="abs_value" id="SET_VOLTAGE">0.0</span></div>
    <div class="medium_label">UNITS<span class="status_value" id="UNITS">Inch</span></div>
    <div class="divider"></div>
    <div class="button_container"><span onclick="SetX_Offset();" class="button">X=0</span><span onclick="SetY_Offset();"  class="button">Y=0</span></div>
    <div class="button_container"><span onclick="TextEditor_Show();" class="button">Edit</span><span onclick="MDITerminal_Show();"  class="button">MDI</span></div>
    <div class="button_container"><span onclick="GoHome();"  class="button">Park</span><span onclick="ProgramHold();" class="button">Hold</span></div>
    <div class="button_container"><span onclick="ProgramStart();" class="button">Run</span><span onclick="ProgramAbort();" class="button">Stop</span></div>
  </div>
</html>
