canvas {
	width: 100%;
	height: 100%;
}
body {
	background-color: #1B282E;
	margin: 0px;
	overflow: hidden;
}
#left_drawer
{
	position: absolute;
	width: 200px;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
}
.divider{
	padding-top: 10px;
	padding-right: 30px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 10px;
	color: #FF5951;
	background-color: #26363E;
  }
PartTree{
	padding: 2px;
	margin-right: 10px;
	height: 300px;
	width: 180px;
}
.tree_parent{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	margin-top: 7px;
}
.tree_child_show{
	margin-left: 40px;
	display: block;
}
.tree_child_hide{
	margin-left: 40px;
	display: none;
}
.part_text{
	color: grey;
	cursor: pointer;
}
.part_text:hover{
	background-color:#26363E;
}
.part_arrow{
	color: grey;
	margin-right: 10px;
	cursor: pointer;
}
.part_lightbulb_on{
	color: yellow;
	margin-right: 15px;
	cursor: pointer;
}
.part_lightbulb_off{
	color: grey;
	margin-right: 15px;
	cursor: pointer;
}